<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h3>Gallery de {{username}}</h3>
    </div>
  </div>
  <div class="row" ng-show="ShowAddForm">
    <div class="col-xs-12 text-center"><h4>Add Item</h4></div>
    <div class="col-xs-6 col-xs-offset-3 text-center">
      <form ng-submit="addItem()">
        <input type="text" placeholder="Name" class="form-control" ng-model="name" required/>
        <input type="number" step="any" placeholder="Price" class="form-control" ng-model="price" required/>
        <input type="text" placeholder="Photo URL" class="form-control" ng-model="photo" required/>
        <button type="submit" class="btn btn-info">Add</button>
      </form>
    </div>
  </div>
  <div class="row" ng-show="ShowEditForm">
    <div class="col-xs-12 text-center"><h4>Edit Item</h4></div>
    <div class="col-xs-6 col-xs-offset-3 text-center">
      <form ng-submit="editItem()">
        <input type="text" placeholder="Name" class="form-control" ng-model="name" required/>
        <input type="number" step="any" placeholder="Price" class="form-control" ng-model="price" required/>
        <input type="text" placeholder="Photo URL" class="form-control" ng-model="photo" required/>
        <button type="submit" class="btn btn-info">Edit</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3" ng-repeat="item in items">
      <img ng-src="{{item.photo}}"/>
      <strong>{{item.name}}</strong><br>
      <strong>{{item.price | currency}}</strong><br>
      <button class="btn btn-danger" ng-click="removeItem(item)">Delete</button>
      <button class="btn btn-default" ng-click="showEditForm(item)">Edit</button>
    </div>
  </div>
</div>
